@font-face {
	font-family: Juxel;
	src: url(../media/fonts/juxel.ttf);
}

@font-face {
	font-family: Jersey10;
	src: url(../media/fonts/Jersey10.ttf);
}

@font-face {
	font-family: Fredoka;
	src: url(../media/fonts/Fredoka-Variable.ttf);
}
